.mobileIndicator-U-7hTl path {
    fill: transparent !important;
    d: nill !important;
	background: var(--mobile-img) !important;
}

.mobileIndicator-U-7hTl{
	background: var(--mobile-img) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.mobileIndicator-3gyhuE path {
    fill: transparent !important;
    d: nill !important;
	background: var(--mobile-img) !important;
}

.mobileIndicator-3gyhuE{
	background: var(--mobile-img) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.mobileIndicator-329Gd6 path {
    fill: transparent !important;
    d: nill !important;
	background: var(--mobile-img) !important;
}

.mobileIndicator-329Gd6{
	background: var(--mobile-img) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.mobileIndicator-32N6Qx path {
    fill: transparent !important;
    d: nill !important;
	background:var(--mobile-img) !important;
}

.mobileIndicator-32N6Qx{
	background: var(--mobile-img) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
 
.mobileIndicator-29f8Xh path {
    fill: transparent !important;
    d: nill !important;
	background: var(--mobile-img) !important;
}

.mobileIndicator-29f8Xh{
	background: var(--mobile-img) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
